@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;

}
header {
  font-family: helvetica;

}

#largeroutput {
  /*size: 200%;*/
}
#subtitle {
  /*border: 1px solid green;*/ 
  font-size: 1.5em;
  padding-left: 3em;
  /*padding-left: 10px;*/
}
#post-title > h1 {
  color: black;
  padding-top: 50px;
  padding-left: 1em;
  width: 100%;
}
#post-date {
  /*border: 1px solid green;*/
  font-size: 1.8em;
  padding-left: 2.5em;
  /*padding-left: 10px;*/
}
#post-content {
  /*border: 1px solid green;*/
  font-size:1em;
  /*padding-left: 10px;*/
}
#chef{
  /*border: 1px solid green;*/
  /*padding-left: 10px;*/
}
#tech{
  /*border: 1px solid green;*/ 
  /*padding-left: 10px;*/
}
pre {
  background-color: #d3d3d3;
}

#post-content{
  padding-left: 5em;
  padding-right: 5em;
}

a {
  text-decoration: none;
}

#footer h1 {
  margin: 100;
}

.bloglinks {
  top-margin: 10em;
}