html{
	background-color:#E7E9D1;
	font-family: Helvetica;
}
#header{
	background-color:#D3D4AA;
	height:15em;
}

#post-title{
	font-size: 3em
}

}

img{
	height:150px;
	width:150px;
	border:1px solid black;

}

}
#footer{
	background-color:#D3D4AA;
}

.top{
	background-color:#D3D4AA;
	text-align:center;
	padding:1em;

}

#about{
	background-color:#FFF9FA;
	height:50em;
	margin:15em;
	padding:10em;
}

.techblogimg{

	height:45%;
	width:45%;
}
.techblogfixed{
	height:200px;
	width:200px;
}

#firstexample{

	height:25%;
	width:25%;
}

code {

	background-color:#d3d3d3;
	

}

.groupbypicture{
	height:70%;
	width:70%;
}
.groupbypicturetext{
	height:100%;
	width:100%;
}


